openapi: 3.1.0
info:
  title: Hivemind Public API
  version: 1.0.0-beta
  description: |
    Programmatic access to Hivemind candidates. Server-to-server REST. All
    endpoints authenticate via a per-company API key minted in
    Settings → Integrations → API Key.

    ### Conventions
    - **Auth**: `Authorization: Bearer hk_live_<secret>`
    - **Errors**: every non-2xx response uses the standard error envelope (see
      `ErrorResponse`). Switch on `error.code`, not `error.message`.
    - **Pagination**: `page` (1-indexed, default 1) + `per_page` (default 50,
      max 200). Responses include `total`, `total_pages`, `has_more`.
    - **Rate limits**: 120 req/min and 10 000 req/day per company.
      Additionally 60 req/min per source IP before authentication.
      Standard `X-RateLimit-*` headers on every response. 429 includes
      `Retry-After`. If the rate limiter's backing store is unavailable
      the API fails CLOSED — you'll see `503 service_unavailable` with
      `Retry-After: 30` rather than uncapped traffic.
    - **Request IDs**: every response carries `X-Request-Id`. Include it in
      support tickets.
    - **Idempotency**: send an `Idempotency-Key` header on any POST or
      PATCH to make it safe to retry. The first successful 2xx response
      is cached for 24 hours; subsequent retries with the same key
      replay that cached response and add `Idempotent-Replay: true`.
      Reusing a key with a different body returns
      `409 idempotency_conflict`. Format: 8–64 chars of `[A-Za-z0-9_-]`
      — UUID v4 works.
    - **CORS**: this API is Bearer-authenticated server-to-server.
      We deliberately do **not** set CORS headers — browsers will refuse
      to call it directly, which is intentional. Bearer keys must never
      live in client-side code; proxy through your own backend instead.
    - **Webhooks**: configure an endpoint in Settings → Integrations →
      Webhook and tick the candidate events you want
      (`candidate.applied`, `candidate.stage_changed`, `candidate.end`,
      `candidate.manual_intervention` — subscribe explicitly, no wildcards).
      Verify each delivery by string-comparing `X-Hivemind-Signature`
      to your stored secret with a constant-time compare; dedupe on
      `X-Hivemind-Event-Id`. See the `webhooks` section below for
      payload shapes and retry behavior.
  contact:
    name: Hivemind Support
    url: https://gethivemind.ai
    email: support@gethivemind.ai
servers:
  - url: https://gethivemind.ai
    description: Production
  - url: http://localhost:4000
    description: Local development
tags:
  - name: Candidates
    description: |
      A Candidate is a person applying or sourced into a Pipeline. The
      pipeline's automation drives status transitions; integrators typically
      create candidates and receive updates by polling or via webhooks
      (planned).
  - name: Pipelines
    description: |
      A Pipeline is a job posting plus its automation graph and application
      form. Read-only for content (job title, description, location, form
      schema, nodes); a tight write surface (`name`, `status`) lets ATS
      integrations pause and rename without touching the UI. Activation is
      deliberately UI-only because it requires validating the node graph
      and form configuration.
  - name: Meta
    description: |
      Utility endpoints — key validation, server health.
  - name: Webhooks
    description: |
      Outbound HTTPS POSTs Hivemind sends to your configured endpoint when a
      candidate progresses through a pipeline. Configure URL + subscribed
      events in the admin UI; you receive a per-company shared secret
      exactly once on creation (and again on rotation). If you lose it,
      rotate to issue a new one — there is no recovery endpoint.

      **Verification.** The `X-Hivemind-Signature` header carries the
      shared secret itself, NOT a cryptographic signature. Compare it
      against your stored copy with a constant-time string compare
      (e.g. `crypto.timingSafeEqual` in Node, `hmac.compare_digest` in
      Python). There is no HMAC, no timestamp binding, and no
      canonical-payload step.

      **What this model gives you.** Authentication: only Hivemind
      knows your secret, so anyone presenting the right header is us.
      Transport confidentiality: TLS. Per-event dedupe: every retry of
      the same event carries the same `X-Hivemind-Event-Id`.

      **What this model does NOT give you.** No replay protection: a
      receiver that ever logs the header (or an intermediary that
      caches it) learns your secret permanently. No body binding: an
      attacker who replays a delivery can swap the body and keep the
      header valid. Mitigations on our side: short delivery TTL
      (5 attempts over ~22 minutes), HTTPS-only delivery, rotation
      invalidates the previous secret immediately with no grace
      window. Rotate immediately if your receiver is compromised or if
      you observe the secret in logs.

      **Retry ladder.** 5 attempts spaced at 0s / 30s / 2m / 5m / 15m
      (~22 min total budget). Per-attempt timeout is 10 seconds. After 24
      consecutive failed deliveries the webhook is auto-disabled and stops
      receiving events until you re-enable it from the admin UI. HTTP 410
      / 404 from your endpoint short-circuits to auto-disable on the first
      occurrence.

      **Receiver contract.** Return any 2xx within 10 seconds. If your
      processing is slow, ack immediately and dispatch to a job queue.
security:
  - bearerAuth: []
paths:
  /api/public/v1/whoami:
    get:
      tags:
        - Meta
      summary: Validate the API key
      description: |
        Returns the company that owns the calling API key. Use as a smoke
        test from your integration code — a 200 means the key is live and
        scoped to the right company.
      operationId: whoami
      responses:
        '200':
          description: The calling company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoamiResponse'
              example:
                company_id: 8f3e42a1-b56c-4d7f-90e1-234567890abc
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/v1/candidates:
    get:
      tags:
        - Candidates
      summary: List candidates
      description: |
        Returns a paginated list of candidates scoped to the caller's company.
        All filters are optional and combine with AND semantics.
      operationId: listCandidates
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/SortParam'
        - in: query
          name: pipeline_id
          schema:
            type: string
            format: uuid
          description: Restrict to a single pipeline.
        - in: query
          name: status
          description: Comma-separated list of statuses (`_in`).
          schema:
            type: string
            example: in_progress,complete
        - in: query
          name: email
          schema:
            type: string
            format: email
        - in: query
          name: is_hired
          schema:
            type: boolean
        - in: query
          name: referral_tag
          schema:
            type: string
        - in: query
          name: current_node_id
          schema:
            type: string
            format: uuid
        - in: query
          name: phone
          description: |
            Best-effort match against `application_metadata.phone`,
            `phone_number`, `mobile`, `tel`. Accuracy depends on the
            pipeline's form field naming.
          schema:
            type: string
        - in: query
          name: created_after
          schema:
            type: string
            format: date-time
        - in: query
          name: created_before
          schema:
            type: string
            format: date-time
        - in: query
          name: last_active_after
          schema:
            type: string
            format: date-time
        - in: query
          name: q
          description: Case-insensitive substring search across `name` and `email`.
          schema:
            type: string
            maxLength: 256
      responses:
        '200':
          description: A page of candidates.
          headers:
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/RateLimitMinute'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/RateLimitRemainingMinute'
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Candidates
      summary: Create a candidate
      description: |
        Creates a candidate and enrols them in the specified pipeline. The
        existing pipeline automation fires immediately (first node handler
        runs).

        Creation does not pre-check credits. Downstream nodes that consume
        credits transition the candidate to `status: "pending_credits"` if
        the company's balance is insufficient — same behavior as candidates
        submitted through the public application form.
      operationId: createCandidate
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCandidateRequest'
      responses:
        '201':
          description: Candidate created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Pipeline not found or not owned by the caller's company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: pipeline_not_found
                  message: Pipeline not found
                  request_id: req_8f3e42a1b56c4d7f90e12345
        '409':
          description: |
            A candidate with the same email already exists in this pipeline.
            The existing candidate's id is returned in `details.candidate_id`
            so the integrator can decide whether to PATCH the existing row
            or ignore the duplicate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: candidate_already_exists
                  message: A candidate with this email already exists in this pipeline.
                  details:
                    candidate_id: 6c2a8f3e-1234-4abc-9def-0123456789ab
                  request_id: req_8f3e42a1b56c4d7f90e12345
        '422':
          description: Pipeline is not active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: pipeline_inactive
                  message: Pipeline is not accepting new candidates
                  request_id: req_8f3e42a1b56c4d7f90e12345
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/v1/candidates/{id}:
    parameters:
      - $ref: '#/components/parameters/CandidateId'
    get:
      tags:
        - Candidates
      summary: Fetch a candidate
      operationId: getCandidate
      responses:
        '200':
          description: The candidate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/CandidateNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
        - Candidates
      summary: Update a candidate
      description: |
        Updates a whitelisted subset of mutable fields. Most candidate state
        is driven by the pipeline engine and is not externally mutable.
      operationId: updateCandidate
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCandidateRequest'
      responses:
        '200':
          description: Updated candidate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/CandidateNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/v1/candidates/{id}/rewind:
    parameters:
      - $ref: '#/components/parameters/CandidateId'
    post:
      tags:
        - Candidates
      summary: Rewind a candidate to an earlier node
      description: |
        Move the candidate **backward** in the pipeline to a target node.
        Deletes the candidate's responses for the target node and every
        descendant of it (their work past that point is wiped).

        ### Direction rules
        - `target_node_id` must be an **ancestor** of the candidate's current
          node. Trying to rewind to the current node or a node ahead of it
          returns `422`.
        - To move forward, use `POST /candidates/:id/fast-forward`.

        ### Side effects
        - Credits are deducted for the target node's type (the candidate
          will replay that step).
        - The candidate receives a "your application has progressed" email
          unless `notify_candidate: false` is sent.
        - Pipeline-automation nodes between target and current are **not**
          re-executed; only `current_node_id` is updated.

        ### Dry run
        Send `dry_run: true` to preview which responses would be deleted
        without applying any change.
      operationId: rewindCandidate
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveCandidateRequest'
      responses:
        '200':
          description: |
            Move applied, or — for `dry_run: true` — preview returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveCandidateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Insufficient credits to cover the target node's type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: insufficient_credits
                  message: >-
                    Your company does not have enough credits to perform this
                    operation.
                  details:
                    node_type: assessment
                  request_id: req_8f3e42a1b56c4d7f90e12345
        '404':
          description: |
            Candidate not found OR `target_node_id` does not match a node in
            the candidate's pipeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                candidate_not_found:
                  summary: Unknown / cross-tenant candidate
                  value:
                    error:
                      code: candidate_not_found
                      message: Candidate not found
                      request_id: req_8f3e42a1b56c4d7f90e12345
                target_node_not_found:
                  summary: Target node not in this candidate's pipeline
                  value:
                    error:
                      code: target_node_not_found
                      message: >-
                        target_node_id does not match any node in the
                        candidate's pipeline
                      request_id: req_8f3e42a1b56c4d7f90e12345
        '409':
          description: |
            Another request moved this candidate between your read of the
            candidate's `current_node_id` and your move call. Refetch the
            candidate and retry the move.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: concurrent_move
                  message: >-
                    This candidate was moved by another request. Refetch and try
                    again.
                  request_id: req_8f3e42a1b56c4d7f90e12345
        '422':
          description: |
            Disallowed move (see endpoint description).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                target_must_precede_current:
                  summary: Target is ahead of current — use fast-forward
                  value:
                    error:
                      code: target_must_precede_current
                      message: >-
                        For a rewind, target_node_id must be an ancestor of the
                        candidate's current node. Use POST
                        /candidates/:id/fast-forward to move the candidate
                        forward.
                      request_id: req_8f3e42a1b56c4d7f90e12345
                cannot_move_to_current_node:
                  summary: Target is the candidate's current node
                  value:
                    error:
                      code: cannot_move_to_current_node
                      message: >-
                        target_node_id is the candidate's current node — there
                        is nowhere to move to.
                      request_id: req_8f3e42a1b56c4d7f90e12345
                candidate_has_no_current_node:
                  summary: Candidate hasn't been placed in the pipeline yet
                  value:
                    error:
                      code: candidate_has_no_current_node
                      message: >-
                        Candidate has no current node yet — move operations
                        require an active position in the pipeline.
                      request_id: req_8f3e42a1b56c4d7f90e12345
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/v1/candidates/{id}/fast-forward:
    parameters:
      - $ref: '#/components/parameters/CandidateId'
    post:
      tags:
        - Candidates
      summary: Fast-forward a candidate to a later node
      description: |
        Move the candidate **forward** in the pipeline to a target node.
        Existing responses are preserved; the candidate's `current_node_id`
        is updated and pipeline-automation nodes between current and
        target are **not** executed (use the UI to replay automation).

        ### Direction rules
        - `target_node_id` must be a **descendant** of the candidate's
          current node. Trying to fast-forward to the current node or to a
          node behind it returns `422`.
        - To move backward, use `POST /candidates/:id/rewind`.

        ### Side effects
        - Credits are deducted for the target node's type.
        - The candidate receives a "your application has progressed" email
          unless `notify_candidate: false` is sent.

        ### Dry run
        Send `dry_run: true` to validate the move without applying any
        change. (Useful even though no responses are deleted, since it
        also exercises the ordering check.)
      operationId: fastForwardCandidate
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveCandidateRequest'
      responses:
        '200':
          description: |
            Move applied, or — for `dry_run: true` — preview returned.
            `deleted_responses` is always `[]` on this endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveCandidateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Insufficient credits to cover the target node's type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: insufficient_credits
                  message: >-
                    Your company does not have enough credits to perform this
                    operation.
                  details:
                    node_type: manual_review
                  request_id: req_8f3e42a1b56c4d7f90e12345
        '404':
          description: |
            Candidate not found OR `target_node_id` does not match a node in
            the candidate's pipeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: |
            Another request moved this candidate between your read of the
            candidate's `current_node_id` and your move call. Refetch the
            candidate and retry the move.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: concurrent_move
                  message: >-
                    This candidate was moved by another request. Refetch and try
                    again.
                  request_id: req_8f3e42a1b56c4d7f90e12345
        '422':
          description: |
            Disallowed move — typically `target_must_follow_current` if the
            target is behind or equal to the current node, or
            `candidate_has_no_current_node` for a freshly-created candidate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                target_must_follow_current:
                  summary: Target is behind current — use rewind
                  value:
                    error:
                      code: target_must_follow_current
                      message: >-
                        For a fast-forward, target_node_id must be a descendant
                        of the candidate's current node. Use POST
                        /candidates/:id/rewind to move the candidate backward.
                      request_id: req_8f3e42a1b56c4d7f90e12345
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/v1/pipelines:
    get:
      tags:
        - Pipelines
      summary: List pipelines
      description: |
        Returns a paginated list of pipelines scoped to the caller's company.
        Each pipeline includes the inline `application_form` (the keys
        integrators send in `application_metadata` on `POST /candidates`) and
        a lightweight `nodes` list.
      operationId: listPipelines
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - in: query
          name: sort
          description: |
            Field + direction. Whitelisted: `created_at`, `updated_at`,
            `name`. Default `-created_at`.
          schema:
            type: string
            enum:
              - created_at
              - '-created_at'
              - updated_at
              - '-updated_at'
              - name
              - '-name'
            default: '-created_at'
        - in: query
          name: status
          description: Comma-separated list of statuses (`_in`).
          schema:
            type: string
            example: active,draft
        - in: query
          name: active
          schema:
            type: boolean
        - in: query
          name: job_type
          schema:
            type: string
        - in: query
          name: workplace_type
          schema:
            type: string
        - in: query
          name: location
          description: Case-insensitive substring match.
          schema:
            type: string
        - in: query
          name: q
          description: ILIKE substring match across `name` and `job_title`.
          schema:
            type: string
            maxLength: 256
        - in: query
          name: created_after
          schema:
            type: string
            format: date-time
        - in: query
          name: created_before
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A page of pipelines.
          headers:
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/RateLimitMinute'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/RateLimitRemainingMinute'
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/public/v1/pipelines/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: Pipeline UUID.
    get:
      tags:
        - Pipelines
      summary: Fetch a pipeline
      description: |
        Returns a single pipeline with its `application_form` and `nodes`.
      operationId: getPipeline
      responses:
        '200':
          description: The pipeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/PipelineNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
        - Pipelines
      summary: Update a pipeline
      description: |
        Mutable subset only: `name` and `status`. `active` is read-only and
        derived from `status`; sending it returns 400.

        ### Status transitions
        Allowed via API:
        - `active → inactive` (pause; ATS write-back when role is filled)
        - `active → draft` (send back to editing in the UI)
        - same-state PATCH (no-op)

        Rejected:
        - any → `active` → `422 pipeline_activation_via_ui_only` (UI must
          validate node graph + form)
        - `draft → anything` → `422 pipeline_in_draft` (drafts may be
          incomplete)
        - `inactive → anything` → `422 invalid_status_transition`
          (reactivate via UI)

        `name` is patchable from any status.
      operationId: updatePipeline
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePipelineRequest'
      responses:
        '200':
          description: The refreshed pipeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '400':
          description: Validation failure (no fields, sent `active`, bad status enum).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                active_field_rejected:
                  summary: Tried to PATCH `active`
                  value:
                    error:
                      code: invalid_request
                      message: >-
                        active is read-only — set status instead (e.g. status:
                        "inactive")
                      details:
                        field: active
                        hint: >-
                          Set status to "draft" or "inactive". Activation must
                          be done in the UI.
                      request_id: req_8f3e42a1b56c4d7f90e12345
                bad_status:
                  summary: Status outside whitelist
                  value:
                    error:
                      code: invalid_status
                      message: 'status must be one of: draft, inactive'
                      details:
                        field: status
                        allowed:
                          - draft
                          - inactive
                      request_id: req_8f3e42a1b56c4d7f90e12345
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/PipelineNotFound'
        '422':
          description: Disallowed status transition (see endpoint description).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                pipeline_in_draft:
                  summary: PATCH on a pipeline currently in draft
                  value:
                    error:
                      code: pipeline_in_draft
                      message: >-
                        Pipelines in draft must be configured and activated in
                        the Hivemind UI before the API can manage them.
                      details:
                        from: draft
                        to: inactive
                      request_id: req_8f3e42a1b56c4d7f90e12345
                pipeline_activation_via_ui_only:
                  summary: Tried to set status to active
                  value:
                    error:
                      code: pipeline_activation_via_ui_only
                      message: >-
                        Activation requires UI validation of node graph and
                        form.
                      details:
                        from: inactive
                        to: active
                      request_id: req_8f3e42a1b56c4d7f90e12345
                invalid_status_transition:
                  summary: Reactivating an inactive pipeline via API
                  value:
                    error:
                      code: invalid_status_transition
                      message: >-
                        Inactive pipelines must be reactivated through the
                        Hivemind UI so configuration is validated.
                      details:
                        from: inactive
                        to: draft
                      request_id: req_8f3e42a1b56c4d7f90e12345
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
webhooks:
  candidateApplied:
    post:
      tags:
        - Webhooks
      summary: New candidate entered a pipeline
      description: |
        Fires the moment a `Candidate` row is created in the database —
        whether they applied through the public application form, were
        sourced via the public API, or pulled in from an ATS sync (Ashby
        / Greenhouse). The payload carries the full Candidate DTO **and**
        a summary of the pipeline they applied to, so receivers can act
        without an extra `GET /pipelines/:id` round-trip.

        Fires before any `candidate.stage_changed` events the pipeline's
        automation graph emits — receivers can rely on `applied`
        preceding any node-transition events for the same candidate.
      operationId: webhookCandidateApplied
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateAppliedEvent'
            examples:
              webFormSubmission:
                summary: Candidate filled out the public application form
                value:
                  id: 2c1f4abc-9d40-4e2c-8c1c-1234567890ab
                  type: candidate.applied
                  created_at: '2026-04-26T17:14:09.421Z'
                  data:
                    candidate:
                      id: 6c2a8f3e-1234-4abc-9def-0123456789ab
                      email: jane@example.com
                      name: Jane Doe
                      status: in_progress
                      pipeline_id: 8f3e42a1-b56c-4d7f-90e1-234567890abc
                      current_node_id: null
                      is_hired: false
                      referral_tag: linkedin
                      total_score: null
                      last_active: '2026-04-26T17:14:09Z'
                      created_at: '2026-04-26T17:14:09Z'
                      resume_url: https://...
                      application_metadata:
                        - key: phonenumber
                          answer: '+15551112222'
                          question: Phone Number
                    pipeline:
                      id: 8f3e42a1-b56c-4d7f-90e1-234567890abc
                      name: Senior Backend Engineer — funnel
                      job_title: Senior Backend Engineer
                      job_description: >-
                        We are hiring a senior backend engineer to lead our
                        payments stack...
                      job_type: full-time
                      location: Remote, US
                      workplace_type: remote
                      status: active
                      active: true
      responses:
        2XX:
          description: Receiver acknowledged the event.
  candidateStageChanged:
    post:
      tags:
        - Webhooks
      summary: Candidate moved between user-visible nodes
      description: |
        Fires whenever a candidate transitions to a new user-visible node
        in their pipeline (any node that isn't a routing-only Choice/Group
        node). Routing decisions traversed during the hop are folded into
        `data.branched_through` so receivers can apply their own definition
        of "rejected" / "advanced" without us guessing.

        The previous node's response data (resumatic score, assessment
        results, manual-review verdict, etc.) is included in
        `data.previous.response` — shape varies by `data.previous.node_type`.
      operationId: webhookCandidateStageChanged
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateStageChangedEvent'
            examples:
              passingChoiceBranch:
                summary: Resumatic → splitNode (Pass) → assessment
                value:
                  id: a3f2c1b8-9d40-4e2c-8c1c-1234567890ab
                  type: candidate.stage_changed
                  created_at: '2026-04-26T17:14:09.421Z'
                  data:
                    candidate:
                      id: 6c2a8f3e-1234-4abc-9def-0123456789ab
                      email: jane@example.com
                      name: Jane Doe
                      status: in_progress
                      pipeline_id: 8f3e42a1-b56c-4d7f-90e1-234567890abc
                      current_node_id: 1aa2bb33-cc44-dd55-ee66-ff7788990011
                      is_hired: false
                      referral_tag: linkedin
                      total_score: 87
                      last_active: '2026-04-26T17:14:08Z'
                      created_at: '2026-04-21T10:02:00Z'
                      resume_url: https://...
                      application_metadata:
                        - key: phonenumber
                          answer: '+15551112222'
                          question: Phone Number
                    previous:
                      node_id: 9bb1aa00-cc44-dd55-ee66-ff7788990022
                      node_type: resumatic
                      node_label: Resume Score
                      response:
                        score: 87
                        evaluation_details:
                          total_score: 87
                          summary: Strong match — 7 years backend, Python expert.
                    current:
                      node_id: 1aa2bb33-cc44-dd55-ee66-ff7788990011
                      node_type: assessment
                      node_label: Skills Test
                    branched_through:
                      - node_id: c0d1e2f3-4444-5555-6666-7777aaaabbbb
                        node_type: splitNode
                        node_label: Pass / Fail by score
                        decision:
                          chosen_flow: Pass
      responses:
        2XX:
          description: Receiver acknowledged the event.
  candidateEnd:
    post:
      tags:
        - Webhooks
      summary: Candidate reached an End node
      description: |
        Fires when a candidate arrives at a node of type `endNode` —
        terminal in the pipeline. `data.final_score` carries the aggregate
        score returned by the pipeline at termination (may be `null` if no
        scored nodes contributed).

        The `data.branched_through` array preserves the routing decisions
        that led here, so a receiver can distinguish e.g. "ended via the
        Reject branch of the senior-screen Choice" from "ended through
        normal completion".
      operationId: webhookCandidateEnd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateEndEvent'
            examples:
              hiredTrack:
                summary: Reached the success-track End node
                value:
                  id: b8c3d2a1-7e80-4f3d-9d2c-2345678901bc
                  type: candidate.end
                  created_at: '2026-04-28T09:00:00.000Z'
                  data:
                    candidate:
                      id: 6c2a8f3e-1234-4abc-9def-0123456789ab
                      email: jane@example.com
                      name: Jane Doe
                      status: complete
                      pipeline_id: 8f3e42a1-b56c-4d7f-90e1-234567890abc
                      current_node_id: ee99dd88-cc77-bb66-aa55-4444aa55bb66
                      is_hired: false
                      referral_tag: linkedin
                      total_score: 91
                      last_active: '2026-04-28T08:59:55Z'
                      created_at: '2026-04-21T10:02:00Z'
                      resume_url: https://...
                      application_metadata: []
                    previous:
                      node_id: 1aa2bb33-cc44-dd55-ee66-ff7788990011
                      node_type: assessment
                      node_label: Skills Test
                      response:
                        score: 91
                        details:
                          averageScore: 91
                    current:
                      node_id: ee99dd88-cc77-bb66-aa55-4444aa55bb66
                      node_type: endNode
                      node_label: Hired track
                    branched_through: []
                    final_score: 91
      responses:
        2XX:
          description: Receiver acknowledged the event.
  candidateManualIntervention:
    post:
      tags:
        - Webhooks
      summary: Candidate is waiting on a human action
      description: |
        Fires when a candidate arrives at a `manualReview`, `manualInterview`,
        or `manualPhoneCall` node — i.e., a node that pauses for a human
        decision. The corresponding `candidate.stage_changed` event fires
        alongside this one with the same `previous` / `current` /
        `branched_through` data; subscribe to whichever signal you actually
        care about.
      operationId: webhookCandidateManualIntervention
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateManualInterventionEvent'
      responses:
        2XX:
          description: Receiver acknowledged the event.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: hk_live_<secret>
      description: |
        Per-company API key. Mint via the Hivemind UI under Settings →
        Integrations → API Key. Format `hk_live_<base62 secret>` — the
        key carries no tenant identity, so possession of the key is the
        only auth claim. Pass as `Authorization: Bearer <key>`.

        The plaintext is shown exactly once on generation; Hivemind
        stores only an HMAC fingerprint. If you lose the key, click
        "Regenerate" — that immediately invalidates the previous one.
  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema:
        type: string
        pattern: ^[A-Za-z0-9_-]{8,64}$
      description: |
        Optional. Send the same key on a retry to make the request
        idempotent. The first successful 2xx response is cached for
        24 hours; subsequent retries with the same key return the
        cached response with `Idempotent-Replay: true`. Reusing a key
        with a different request body returns 409
        `idempotency_conflict`. Format: 8–64 chars of `[A-Za-z0-9_-]`
        — a UUID v4 is a fine default.
    CandidateId:
      in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: Candidate UUID.
    PageParam:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
      description: 1-indexed page number.
    PerPageParam:
      in: query
      name: per_page
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
      description: Page size.
    SortParam:
      in: query
      name: sort
      description: |
        Field + direction. Prefix with `-` for descending. Whitelisted fields:
        `created_at`, `last_active`, `total_score`. Default `-created_at`.
      schema:
        type: string
        enum:
          - created_at
          - '-created_at'
          - last_active
          - '-last_active'
          - total_score
          - '-total_score'
        default: '-created_at'
  headers:
    RequestId:
      description: Server-generated request id; echo when contacting support.
      schema:
        type: string
        example: req_8f3e42a1b56c4d7f90e12345
    RateLimitMinute:
      description: Per-minute request budget for this company.
      schema:
        type: integer
        example: 120
    RateLimitRemainingMinute:
      description: Requests remaining in the current minute window.
      schema:
        type: integer
        example: 118
  schemas:
    Candidate:
      type: object
      required:
        - id
        - email
        - is_hired
        - created_at
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
          description: |
            Lifecycle state driven by the pipeline engine. Common values:
            `in_progress`, `pending_credits`, `pending_valid_openai_key`,
            `complete`. Not exhaustive — treat as an opaque string.
        pipeline_id:
          type: string
          format: uuid
          nullable: true
        current_node_id:
          type: string
          format: uuid
          nullable: true
        is_hired:
          type: boolean
        referral_tag:
          type: string
          nullable: true
        total_score:
          type: number
          nullable: true
        last_active:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        resume_url:
          type: string
          format: uri
          nullable: true
          description: |
            Short-lived (15-minute) pre-signed S3 URL. Download promptly or
            re-fetch the candidate for a fresh URL. `null` if no resume.
        application_metadata:
          $ref: '#/components/schemas/ApplicationMetadata'
      example:
        id: 9f1c8e42-4b7d-4ae6-8b3a-2a4f0d7c5e10
        email: alice@example.com
        name: Alice Johnson
        status: in_progress
        pipeline_id: 3a8b2f9c-1e44-4f12-9d7c-6b0a8d3e1f22
        current_node_id: 5c2e9d77-8a3b-4f55-bb12-c0e1d3a4b507
        is_hired: false
        referral_tag: linkedin-q2-2026
        total_score: 78.5
        last_active: '2026-04-23T14:12:00.000Z'
        created_at: '2026-04-22T09:30:00.000Z'
        resume_url: >-
          https://gethivemind-prod.s3.us-west-2.amazonaws.com/files/abc-resume.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&...
        application_metadata:
          - key: phonenumber
            answer: '+15551112222'
            question: Phone Number
          - key: linkedin_url
            answer: https://linkedin.com/in/alice
            question: LinkedIn
          - key: cover_letter
            answer: I am excited about this role because…
            question: Cover Letter
    WhoamiResponse:
      type: object
      required:
        - company_id
      properties:
        company_id:
          type: string
          format: uuid
    ApplicationMetadata:
      type: array
      nullable: true
      description: |
        Array of `{ key, answer, question? }` triples capturing each
        non-core field from the pipeline's application form. The `key`
        values are configured per pipeline — pipeline templates (email,
        SMS, assessment) interpolate `{key}` references by exact match.
        Sending a mismatched key (e.g. `phone` when the pipeline form
        uses `phonenumber`) silently fails to populate that template
        variable. Use `GET /pipelines/{id}` (Phase 3) to discover the
        keys a given pipeline expects.

        Missing fields don't block creation but may cause downstream
        pipeline steps to fail when they try to read the missing key.
      items:
        $ref: '#/components/schemas/ApplicationMetadataEntry'
    ApplicationMetadataEntry:
      type: object
      required:
        - key
        - answer
      properties:
        key:
          type: string
          maxLength: 256
          description: |
            Form-field key configured on the pipeline. Match exactly —
            no name-mangling on our end.
          example: phonenumber
        answer:
          oneOf:
            - type: string
            - type: number
            - type: boolean
            - type: 'null'
          description: The candidate's response to the field.
          example: '+15551112222'
        question:
          type: string
          nullable: true
          maxLength: 1024
          description: |
            Human-readable field label. Optional; we don't auto-derive
            it from `key`. If omitted, stored as `null`.
          example: Phone Number
    CreateCandidateRequest:
      type: object
      required:
        - pipeline_id
        - email
        - name
      description: |
        A resume is required — supply exactly one of `resume_url` OR `resume`.
        Hivemind pipelines typically run a Resumatic (AI resume scoring) node
        early in the flow, which silently stalls without a parseable resume;
        we enforce the constraint here so the failure surfaces at the request
        boundary instead of mid-pipeline.
      properties:
        pipeline_id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
          maxLength: 256
        resume_url:
          type: string
          format: uri
          maxLength: 2048
          description: |
            URL the server can fetch — we download and re-upload to our own
            bucket. Mutually exclusive with `resume`; supply one or the other,
            never both, never neither.
        resume:
          $ref: '#/components/schemas/Resume'
        referral_tag:
          type: string
          maxLength: 256
        application_metadata:
          $ref: '#/components/schemas/ApplicationMetadata'
      oneOf:
        - required:
            - resume_url
        - required:
            - resume
      example:
        pipeline_id: 3a8b2f9c-1e44-4f12-9d7c-6b0a8d3e1f22
        email: alice@example.com
        name: Alice Johnson
        resume:
          name: alice-johnson.pdf
          data: JVBERi0xLjQKJSVzbW9rZS10ZXN0CiUlRU9GCg==
        referral_tag: linkedin-q2-2026
        application_metadata:
          - key: phonenumber
            answer: '+15551112222'
          - key: linkedin_url
            answer: https://linkedin.com/in/alice
          - key: cover_letter
            answer: I am excited about this role because…
    Resume:
      type: object
      required:
        - name
        - data
      description: |
        Inline resume payload. The file is base64-encoded in `data`. Mutually
        exclusive with `resume_url` on a `POST /candidates` body — provide
        one or the other.

        - `name`: filename including extension. The extension determines the
          stored content type. Allowed: `.pdf`, `.doc`, `.docx`.
        - `data`: base64-encoded file bytes. Maximum size after decode: 7MB.
      properties:
        name:
          type: string
          maxLength: 256
          example: alice-johnson.pdf
        data:
          type: string
          format: byte
          description: Base64-encoded file bytes (≤ 7MB after decode).
          example: JVBERi0xLjQKJSVzbW9rZS10ZXN0CiUlRU9GCg==
    UpdateCandidateRequest:
      type: object
      description: |
        At least one mutable field is required. `status` is **read-only** —
        it is driven by the pipeline engine. To move a candidate to a
        specific node, use `POST /candidates/:id/rewind` or
        `POST /candidates/:id/fast-forward`.
      properties:
        is_hired:
          type: boolean
        referral_tag:
          type: string
          maxLength: 256
      example:
        is_hired: true
        referral_tag: hired-q2-2026
    MoveCandidateRequest:
      type: object
      required:
        - target_node_id
      properties:
        target_node_id:
          type: string
          format: uuid
          description: |
            UUID of the target node. Must match an entry in
            `pipeline.nodes[].id` for the candidate's pipeline.
        dry_run:
          type: boolean
          default: false
          description: |
            If `true`, return the would-be result without applying any
            change — no DB writes, no credit deduction, no email sent.
            `applied` in the response will be `false`.
        notify_candidate:
          type: boolean
          default: true
          description: |
            If `true` (default), the candidate receives a "your application
            has progressed" email after the move. Set to `false` to perform
            silent moves (e.g., bulk operations or backfills).
      example:
        target_node_id: 5c2e9d77-8a3b-4f55-bb12-c0e1d3a4b507
        dry_run: false
        notify_candidate: true
    MoveCandidateResponse:
      type: object
      required:
        - applied
        - candidate
        - moved_to
        - deleted_responses
      properties:
        applied:
          type: boolean
          description: |
            `false` for `dry_run: true` requests; `true` after a successful
            apply.
        candidate:
          $ref: '#/components/schemas/Candidate'
        moved_from:
          oneOf:
            - $ref: '#/components/schemas/MoveNodeSummary'
            - type: 'null'
          description: |
            The candidate's previous node before the move. `null` if the
            candidate had no `current_node_id` (rare).
        moved_to:
          $ref: '#/components/schemas/MoveNodeSummary'
        deleted_responses:
          type: array
          description: |
            Responses that were (or would be, on dry_run) deleted by a
            rewind. Always `[]` for fast-forward.
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              node_id:
                type: string
                format: uuid
              type:
                type: string
                nullable: true
              label:
                type: string
                nullable: true
              created_at:
                type: string
                format: date-time
        credits_deducted_for:
          type: string
          nullable: true
          description: |
            The node type whose cost was deducted (e.g. `assessment`,
            `manual_review`). `null` on `dry_run` (no deduction occurs).
    MoveNodeSummary:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
          format: uuid
          description: Node UUID. Same as `pipeline.nodes[].id`.
        type:
          type: string
          description: Node type (e.g. `assessment`, `manual_review`, `email`).
        label:
          type: string
          nullable: true
          description: Human-readable name from the node's metadata.
    CandidateListResponse:
      type: object
      required:
        - data
        - page
        - per_page
        - total
        - total_pages
        - has_more
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Candidate'
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 50
        total:
          type: integer
          example: 347
        total_pages:
          type: integer
          example: 7
        has_more:
          type: boolean
      example:
        data:
          - id: 9f1c8e42-4b7d-4ae6-8b3a-2a4f0d7c5e10
            email: alice@example.com
            name: Alice Johnson
            status: in_progress
            pipeline_id: 3a8b2f9c-1e44-4f12-9d7c-6b0a8d3e1f22
            current_node_id: 5c2e9d77-8a3b-4f55-bb12-c0e1d3a4b507
            is_hired: false
            referral_tag: linkedin-q2-2026
            total_score: 78.5
            last_active: '2026-04-23T14:12:00.000Z'
            created_at: '2026-04-22T09:30:00.000Z'
            resume_url: >-
              https://gethivemind-prod.s3.us-west-2.amazonaws.com/files/abc-resume.pdf?X-Amz-Expires=900&...
            application_metadata:
              - key: phonenumber
                answer: '+15551112222'
                question: Phone Number
              - key: linkedin_url
                answer: https://linkedin.com/in/alice
                question: LinkedIn
        page: 1
        per_page: 50
        total: 347
        total_pages: 7
        has_more: true
    Pipeline:
      type: object
      required:
        - id
        - status
        - active
        - created_at
        - application_form
        - nodes
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
          description: Internal pipeline name.
        job_title:
          type: string
          nullable: true
        job_description:
          type: string
          nullable: true
        job_type:
          type: string
          nullable: true
          description: e.g. "full-time", "part-time", "contract".
        location:
          type: string
          nullable: true
        workplace_type:
          type: string
          nullable: true
          description: e.g. "remote", "hybrid", "on-site".
        status:
          type: string
          description: |
            Lifecycle state. Known values: `active`, `draft`, `inactive`.
            Treat as opaque string for forward compat.
        active:
          type: boolean
          readOnly: true
          description: |
            Computed from `status` (`status === "active"`). Not writable —
            see `PATCH /pipelines/:id` for transition rules.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
          nullable: true
        application_form:
          type: array
          description: |
            The pipeline's application-form schema. Each entry maps to a key
            an integrator should send in `application_metadata` when posting
            a candidate (except entries flagged `is_core`, which map to
            top-level Candidate fields like `name`, `email`, `resume_url`).
            Empty array if the pipeline has no Form node configured.
          items:
            $ref: '#/components/schemas/PipelineFormField'
        nodes:
          type: array
          description: |
            Lightweight summary of the pipeline's nodes — enough to map
            `Candidate.current_node_id` to a stage name. Internal automation
            config is stripped.
          items:
            $ref: '#/components/schemas/PipelineNode'
      example:
        id: 3a8b2f9c-1e44-4f12-9d7c-6b0a8d3e1f22
        name: Senior Engineer 2026 Q2
        job_title: Senior Software Engineer
        job_description: Lead a small backend team building our public API…
        job_type: full-time
        location: Remote (US)
        workplace_type: remote
        status: active
        active: true
        created_at: '2026-04-22T09:30:00.000Z'
        updated_at: '2026-04-23T11:00:00.000Z'
        application_form:
          - key: name
            type: text
            label: Full Name
            required: true
            options: null
            is_core: true
          - key: email
            type: text
            label: Email
            required: true
            options: null
            is_core: true
          - key: resume
            type: file
            label: Resume
            required: true
            options: null
            is_core: true
          - key: phonenumber
            type: text
            label: Phone Number
            required: true
            options: null
            is_core: false
          - key: linkedin
            type: linkedin
            label: LinkedIn
            required: false
            options: null
            is_core: false
        nodes:
          - id: 5c2e9d77-8a3b-4f55-bb12-c0e1d3a4b507
            type: form
            label: Application Form
          - id: 7e1d8a55-6c4b-43e2-9f88-3a0b2c5d4e91
            type: email
            label: Welcome Email
          - id: 8f2c9b66-7d5b-44e3-aa99-4b1c3d6e5fa2
            type: assessment
            label: Skills Assessment
          - id: 9a3d0c77-8e6c-45f4-bbaa-5c2d4e7f60b3
            type: end
            label: 'End: Hire'
    PipelineFormField:
      type: object
      required:
        - key
        - type
        - label
        - required
        - is_core
      properties:
        key:
          type: string
          description: |
            Form-field key. Use this in `application_metadata[].key` on
            `POST /candidates` (unless `is_core` is true).
          example: phonenumber
        type:
          type: string
          description: |
            Field input type. One of `text`, `number`, `select`, `multi-select`,
            `file`, `linkedin`, `location`, `url`.
          example: text
        label:
          type: string
          example: Phone Number
        required:
          type: boolean
        options:
          type: array
          nullable: true
          description: |
            Choice options for `select`, `multi-select`, and `location`
            fields. `null` for everything else.
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
        is_core:
          type: boolean
          description: |
            `true` for fields whose `key` maps to a top-level Candidate
            column (`name`, `email`, `resume`). Integrators **must not**
            include these in `application_metadata` on `POST /candidates`
            — pass them as top-level body fields (`name`, `email`,
            `resume`/`resume_url`).
    PipelineNode:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
          format: uuid
          description: |
            Node UUID. Matches `Candidate.current_node_id` and is the value
            you pass as `target_node_id` to
            `POST /candidates/:id/{rewind,fast-forward}`.
        type:
          type: string
          description: |
            One of the 26 node types — `start`, `form`, `email`, `sms`,
            `voice_call`, `assessment`, `coding_assessment`,
            `personality_test`, `iq_test`, `manual_review`,
            `manual_interview`, `manual_phone_call`, `interview`,
            `resumatic`, `http`, `webhook`, `zapier`, `time`,
            `randomization`, `choice`, `group`, `split`, `drag_in`, `end`,
            etc.
        label:
          type: string
          nullable: true
          description: Human-readable name from the node's metadata.
    PipelineListResponse:
      type: object
      required:
        - data
        - page
        - per_page
        - total
        - total_pages
        - has_more
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Pipeline'
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 50
        total:
          type: integer
          example: 12
        total_pages:
          type: integer
          example: 1
        has_more:
          type: boolean
    UpdatePipelineRequest:
      type: object
      description: |
        At least one mutable field is required. `active` is rejected
        deliberately — set `status` instead. Status transitions are
        enforced; see `PATCH /pipelines/:id` for the full matrix.
      properties:
        name:
          type: string
          maxLength: 256
        status:
          type: string
          enum:
            - draft
            - inactive
          description: |
            Whitelisted to `draft` and `inactive` only. `active` is
            intentionally absent — pipelines must be activated in the UI
            so the node graph and form configuration are validated.
      example:
        status: inactive
    PipelineSummary:
      type: object
      description: |
        Lightweight pipeline shape used in webhook payloads. A trimmed
        subset of the full `Pipeline` schema — drops the application
        form schema and node graph (which receivers can fetch via
        `GET /pipelines/:id` if needed).
      required:
        - id
        - status
        - active
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        job_title:
          type: string
          nullable: true
        job_description:
          type: string
          nullable: true
        job_type:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        workplace_type:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
          enum:
            - active
            - draft
            - inactive
            - null
        active:
          type: boolean
          description: Computed — equivalent to `status === 'active'`.
    CandidateAppliedEvent:
      type: object
      description: |
        Outbound webhook fired when a new Candidate row is created in any
        pipeline. Universal hook — covers the public application form,
        public API POST, ATS sync, and any other path that lands rows in
        `Candidate` (including manual Hasura console inserts during
        support work).
      required:
        - id
        - type
        - created_at
        - data
      properties:
        id:
          type: string
          example: 2c1f4abc-9d40-4e2c-8c1c-1234567890ab
        type:
          type: string
          enum:
            - candidate.applied
        created_at:
          type: string
          format: date-time
        data:
          type: object
          required:
            - candidate
            - pipeline
          properties:
            candidate:
              $ref: '#/components/schemas/Candidate'
            pipeline:
              $ref: '#/components/schemas/PipelineSummary'
    WebhookEventNodeBlock:
      type: object
      description: |
        Identifying info for a node referenced by a webhook event.
        Stripped of internal automation config — only the fields a
        receiver needs to map to a human-readable stage.
      required:
        - node_id
        - node_type
      properties:
        node_id:
          type: string
          format: uuid
          description: PipelineNode UUID. Same identifier as `Candidate.current_node_id`.
        node_type:
          type: string
          description: |
            Node type discriminator. One of the 26 internal types — common
            values include `form`, `resumatic`, `assessment`, `email`,
            `sms`, `manualReview`, `manualInterview`, `manualPhoneCall`,
            `splitNode`, `group`, `endNode`.
        node_label:
          type: string
          nullable: true
          description: Human-readable label from the pipeline editor. May be `null`.
    WebhookEventPreviousBlock:
      allOf:
        - $ref: '#/components/schemas/WebhookEventNodeBlock'
        - type: object
          properties:
            response:
              type: object
              nullable: true
              additionalProperties: true
              description: >
                The previous node's stored response data, shaped per

                `node_type` so the receiver can act without a follow-up

                API call. May be `null` for node types that don't persist

                a response (`email`, `sms`, `http`, `wait`, `randomizer`,

                `group`, `splitNode`, `start`).


                Per-type fields (illustrative, not exhaustive):


                * `resumatic` — `{ score, evaluation_details }`

                * `assessment` — `{ score, details }`

                * `personality` — `{ final_assessment, traits }`

                * `iqTest` — `{ overall_iq, breakdown }`

                * `call` — `{ evaluation, transcript_url }`

                * `manualReview` — `{ status, notes }`

                * `manualInterview` / `manualPhoneCall` — `{ approval_status,
                notes }`

                * `webhook` — `{ response, result }`

                * `form` — `{ response }`
    WebhookEventBranchedThroughEntry:
      type: object
      description: |
        A routing-only node (`splitNode` or `group`) the candidate passed
        through on the way to `current`. Not user-visible itself; the
        decision data is what the receiver typically routes on.
      required:
        - node_id
        - node_type
        - decision
      properties:
        node_id:
          type: string
          format: uuid
        node_type:
          type: string
          enum:
            - splitNode
            - group
        node_label:
          type: string
          nullable: true
        decision:
          type: object
          description: >
            Routing-decision payload. Shape varies by `node_type`:

            `splitNode` → `{ chosen_flow }`; `group` → `{ chosen_branch_index
            }`.
          properties:
            chosen_flow:
              type: string
              description: >-
                Name of the matching flow on a Choice/Split node (e.g. `Pass`,
                `Fail`, or a custom flow name).
            chosen_branch_index:
              type: integer
              description: Zero-indexed branch chosen by the Randomizer.
    WebhookEventEnvelope:
      type: object
      description: |
        Common envelope shared by every Hivemind webhook event. The
        per-event `data.*` extras (e.g. `final_score` on `candidate.end`)
        are documented on the individual event schemas.
      required:
        - id
        - type
        - created_at
        - data
      properties:
        id:
          type: string
          format: uuid
          description: |
            Stable event id. Use as the idempotency key on your end —
            Hivemind sends the same value across all retries.
          example: a3f2c1b8-9d40-4e2c-8c1c-1234567890ab
        type:
          type: string
          enum:
            - candidate.applied
            - candidate.stage_changed
            - candidate.end
            - candidate.manual_intervention
        created_at:
          type: string
          format: date-time
          description: >-
            ISO 8601, UTC. Set when the event is enqueued, not when it's
            delivered.
        data:
          type: object
          required:
            - candidate
            - current
            - branched_through
          properties:
            candidate:
              $ref: '#/components/schemas/Candidate'
            previous:
              oneOf:
                - $ref: '#/components/schemas/WebhookEventPreviousBlock'
                - type: 'null'
              description: |
                The user-visible node the candidate just left. `null` only
                on the very first transition (e.g. arrival from the Start
                node).
            current:
              $ref: '#/components/schemas/WebhookEventNodeBlock'
            branched_through:
              type: array
              description: |
                Ordered list of routing-only nodes traversed on the way
                from `previous` to `current`. Empty `[]` for direct
                transitions.
              items:
                $ref: '#/components/schemas/WebhookEventBranchedThroughEntry'
    CandidateStageChangedEvent:
      allOf:
        - $ref: '#/components/schemas/WebhookEventEnvelope'
        - type: object
          properties:
            type:
              type: string
              enum:
                - candidate.stage_changed
    CandidateEndEvent:
      allOf:
        - $ref: '#/components/schemas/WebhookEventEnvelope'
        - type: object
          properties:
            type:
              type: string
              enum:
                - candidate.end
            data:
              type: object
              properties:
                final_score:
                  type: number
                  nullable: true
                  description: |
                    Aggregate score at termination, computed by the
                    pipeline's scoring rollup. `null` if no scored nodes
                    contributed.
    CandidateManualInterventionEvent:
      allOf:
        - $ref: '#/components/schemas/WebhookEventEnvelope'
        - type: object
          description: |
            Same envelope shape as `candidate.stage_changed`. Fires
            alongside the corresponding `candidate.stage_changed` event;
            subscribe to whichever you need.
          properties:
            type:
              type: string
              enum:
                - candidate.manual_intervention
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
    ErrorBody:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: |
            Stable enum. Switch on this, not `message`. Documented values:
            `missing_api_key`, `invalid_api_key`, `invalid_request`,
            `invalid_filter`, `invalid_status`, `candidate_not_found`,
            `candidate_already_exists`, `conflict`, `pipeline_not_found`,
            `pipeline_inactive`, `pipeline_in_draft`,
            `pipeline_activation_via_ui_only`, `invalid_status_transition`,
            `target_node_not_found`, `target_must_precede_current`,
            `target_must_follow_current`, `cannot_move_to_current_node`,
            `candidate_has_no_current_node`, `insufficient_credits`,
            `concurrent_move`, `invalid_idempotency_key`,
            `idempotency_conflict`, `idempotency_in_progress`,
            `payload_too_large`, `unsupported_media_type`,
            `rate_limited`, `service_unavailable`, `not_found`,
            `internal_error`.

            **`conflict`** is the generic 409 returned when the database
            layer rejects a write due to a uniqueness or referential
            constraint that doesn't have a more specific code. For known
            conflict cases (duplicate candidate, duplicate webhook, etc.)
            a resource-specific code is returned instead — switch on
            those first if you want resource-aware handling.
        message:
          type: string
          description: Human-readable. May be reworded over time.
        details:
          type: object
          additionalProperties: true
          description: Optional code-specific structured detail.
        request_id:
          type: string
          description: Echoes `X-Request-Id`.
  responses:
    BadRequest:
      description: Malformed request (validation, bad UUID, unknown filter, etc.).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid_request:
              summary: Validation failure on a request field
              value:
                error:
                  code: invalid_request
                  message: email is not a valid email address
                  details:
                    field: email
                  request_id: req_8f3e42a1b56c4d7f90e12345
            invalid_filter:
              summary: Unknown query parameter
              value:
                error:
                  code: invalid_filter
                  message: 'Unknown query parameter(s): foo'
                  details:
                    unknown:
                      - foo
                  request_id: req_8f3e42a1b56c4d7f90e12345
            status_is_read_only:
              summary: Tried to PATCH `status` on a candidate (read-only)
              value:
                error:
                  code: invalid_request
                  message: >-
                    status is read-only — it is driven by the pipeline engine.
                    Use POST /candidates/:id/rewind or /fast-forward to move a
                    candidate to a specific node.
                  details:
                    field: status
                    hint: POST /api/public/v1/candidates/:id/rewind or /fast-forward
                  request_id: req_8f3e42a1b56c4d7f90e12345
    Unauthorized:
      description: Missing, malformed, or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missing_api_key:
              summary: No Authorization header
              value:
                error:
                  code: missing_api_key
                  message: Authorization header is missing or malformed
                  request_id: req_8f3e42a1b56c4d7f90e12345
            invalid_api_key:
              summary: Wrong, revoked, or malformed key
              value:
                error:
                  code: invalid_api_key
                  message: Invalid API key
                  request_id: req_8f3e42a1b56c4d7f90e12345
    CandidateNotFound:
      description: |
        Candidate not found OR belongs to a different company. We return 404
        in both cases to avoid leaking row existence across tenants.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: candidate_not_found
              message: Candidate not found
              request_id: req_8f3e42a1b56c4d7f90e12345
    PipelineNotFound:
      description: |
        Pipeline not found OR belongs to a different company. We return 404
        in both cases to avoid leaking row existence across tenants.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: pipeline_not_found
              message: Pipeline not found
              request_id: req_8f3e42a1b56c4d7f90e12345
    RateLimited:
      description: Rate limit exceeded. Retry after `Retry-After` seconds.
      headers:
        Retry-After:
          description: Seconds until the relevant window resets.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: rate_limited
              message: Rate limit exceeded
              details:
                reason: per_minute
                retry_after_seconds: 23
              request_id: req_8f3e42a1b56c4d7f90e12345
    InternalError:
      description: Unexpected server-side error. Log the `request_id` and contact support.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: internal_error
              message: An unexpected error occurred
              request_id: req_8f3e42a1b56c4d7f90e12345
    ServiceUnavailable:
      description: |
        The service or one of its hard dependencies (rate limiter,
        Redis) is unavailable. Retry after the indicated cool-down.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before the next attempt.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: service_unavailable
              message: Rate limit temporarily unavailable
              request_id: req_8f3e42a1b56c4d7f90e12345
